<div class="navbar-fixed">
  <nav style="height: 60px">
    <div class="nav-wrapper teal darken-1" >
      <a class="brand-logo" ng-click="$ctrl.SideBar = !$ctrl.SideBar" ng-init="$ctrl.SideBar = true"
       style="left: 10px; margin-left: 10px; cursor: pointer;">&#9776;</a>
      <ul id="nav-mobile" class="right" style="padding: 0px;">
        <li style="position: absolute; left: 43%;"><a>{{$ctrl.nikname}}</a></li>
        <li><a ng-click="$ctrl.logOut()">Выйти</a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="card grey lighten-4 sidebar-M sidebar-F" ng-show="$ctrl.SideBar" ng-init="$ctrl.initialize()" style="margin: 0px;">
  <div class="card-tabs">
    <a ng-class="$ctrl.mIsGroup ? 'waves-effect waves-light btn' : 'btn disabled'"
     style="width: calc(50% - 5px);" ng-click="$ctrl.mIsGroup = false;">Акаунти</a>
    <a ng-class="$ctrl.mIsGroup ? 'btn disabled' : 'waves-effect waves-light btn'"
     style="width: calc(50% - 5px);" ng-click="$ctrl.mIsGroup = true;">Групи</a>
  </div>
  <div class="card-content grey lighten-4" style="padding: 2px; overflow-y: auto;">
    <div ng-show="!$ctrl.mIsGroup">
      <div class="collection">
        <a ng-repeat="item in $ctrl.users" 
           ng-class="item.name == $ctrl.toUser.name ? 'collection-item active' : 'collection-item'"
           ng-click="$ctrl.onUserCLick(item)">
            {{item.name}}
            <span class="new badge" ng-show="item.isHaveUnread">1</span>
            <div ng-show="item.online" style="float: left; color: #00ff00;">&#9658;</div>
            <div ng-hide="item.online" style="float: left; color: #f20000;">&#9658;</div>
          </a>
      </div>
    </div>
<div ng-show="$ctrl.mIsGroup" ng-init="Create = false;">
  <button class="btn" style="width: 100%;" ng-click="Create = !Create; $ctrl.onShowAddGroup()">Добавить</button>

  <div ng-show="Create">
    <div class="row">
      <label class="active" for="groupName">Название:</label>
      <input id="groupName" type="text" ng-model="$ctrl.crtGroupName" class="validate">
    </div>
    <div class="row">
      <button class="waves-effect waves btn" style="width: 100%;"
              ng-click="$ctrl.onSubmitGroup(); Create = false; $ctrl.crtGroupName = '';">Применить</button>
    </div>
     <ul class="collection" style="height: 200px; overflow-y: auto;">
      <li ng-repeat="item in $ctrl.accounts"
          ng-class="active ? 'collection-item active' : 'collection-item'"
          ng-click="active = !active; active ? $ctrl.onAddToGroup(item) : $ctrl.onRemoveFromGroup($index)">
          {{item.name}}
      </li>
     </ul>
  </div>
  <div class="collection" ng-show="!Create">
    <a ng-repeat="item in $ctrl.groups"
       ng-class="item.name == $ctrl.currentGroup.name ? 'collection-item active'  : 'collection-item'"
       ng-click="$ctrl.onGroupCLick(item)">
       {{item.name}}
    </a>
  </div>
</div>
  </div>
</div>
<div class="input-M" ng-class="SideBar == true ? 'input-H' : 'input-F'">
  <div class="card-content grey lighten-4"
   style="padding: 0px;">
    <div class="uploadButton btn-floating btn-large waves-light white"
     style="float: left; cursor: pointer; font-size: 45; color: #808080;">&#9167;
      <input id="fileInpt" type="file" />
    </div>
    <a class="Send_Button btn-floating btn-large waves-light white" ng-click="$ctrl.send()"
     style="padding: 2px; float: right; font-size: 55; cursor: pointer; color: #808080;">&#10147;
    </a>           
    <div class="input-field col s12" style="padding: 0px; margin: 0px; float: left; width: calc(100% - 130px);">
      <textarea id="textarea1" class="materialize-textarea" ng-model="$ctrl.messages"></textarea>
      <label for="textarea1">Повідомлення</label>
    </div>
  </div>
</div>

<div id="msgBody" class="msg-M" ng-class="SideBar == true ? 'msg-H' : 'msg-F'" ng-mouseover="$ctrl.onMessageViewOver()">
  <table class="bordered">
      <tbody>
        <tr ng-repeat="msg in $ctrl.model" ng-class="msg.owner == $ctrl.nikname ? 'teal lighten-5' : ''">
          <td ng-show="msg.owner == $ctrl.nikname">Вы:</td>
          <td ng-show="msg.owner != $ctrl.nikname">{{msg.owner}}</td>
          <td ng-show="msg.fileLink">
            <a ng-href="{{msg.fileLink}}" ng-show="msg.fileLink">{{msg.messages}}</a>
          </td>
          <td ng-show="!msg.fileLink">
            {{msg.messages}}
          </td>
          <td style="text-align: right;">{{msg.date}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


