<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper teal darken-1">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right" style="padding: 0px;">
        <li><a>{{$ctrl.nikname}}</a></li>
        <li><a ng-click="$ctrl.logOut()">Выйти</a></li>
      </ul>
    </div>
  </nav>
</div>


<div class="card grey lighten-4" ng-init="$ctrl.initialize()"
     style="position: fixed; margin-left: 0px; width: 300px; height: calc(100% - 150px); float: left; height: 100%; padding: 8px;">
    <div class="card-tabs">
      <a ng-class="$ctrl.mIsGroup ? 'waves-effect waves-light btn' : 'btn disabled'"  
         style="width: 140px;" 
         ng-click="$ctrl.mIsGroup = false;">Акаунти</a>
      <a ng-class="$ctrl.mIsGroup ? 'btn disabled' : 'waves-effect waves-light btn'"  
         style="width: 140px;" 
         ng-click="$ctrl.mIsGroup = true;">Групи</a>
    </div>
    <div class="card-content grey lighten-4" style="padding: 2px; overflow-y: auto;">
      <div ng-show="!$ctrl.mIsGroup">
        <div class="collection">
          <a ng-repeat="item in $ctrl.users" 
             ng-class="item.name == $ctrl.toUser.name ? 'collection-item active' : 'collection-item'"
             ng-click="$ctrl.onUserCLick(item)">
            {{item.name}}
            <span class="new badge" ng-show="item.isHaveUnread">1</span>
            <div ng-show="item.online" style="float: left; color: #00ff00;">&#9658;</div>
            <div ng-hide="item.online" style="float: left; color: #f20000;">&#9658;</div>
          </a>
        </div>
      </div>

      <div ng-show="$ctrl.mIsGroup">
        <div class="collection">
          <a ng-class="'Public' == $ctrl.currentGroup ? 'collection-item active' : 'collection-item'" 
             ng-click="$ctrl.onGroupCLick('Public')">
            Public
          </a>
        </div>
      </div>
    </div>
      
</div>

<div class="card grey lighten-4"
     style="position: fixed; bottom: 0px; left: 300px; padding: 5px; margin: 0px; height: 100px; width: calc(100% - 300px); z-index: 1000;">  
    <div class="card-content grey lighten-4" style="padding: 5px;">
          <div class="uploadButton btn-floating btn-large waves-effect waves-light grey lighten-3" style="float: left; padding: 5px;">
            <img src="images/papeclip.png" width="45" height="45"/>
            <input id="fileInpt" type="file" />
          </div>

          <div class="input-field col s12" style="padding: 0px; margin: 0px; float: left; width: calc(100% - 150px);">
            <textarea id="textarea1" class="materialize-textarea" ng-model="$ctrl.messages" ></textarea>
            <label for="textarea1">Повідомлення</label>
          </div>

          <a class="btn-floating btn-large waves-effect waves-light grey lighten-3" style="float: right; padding: 5px;" ng-click="$ctrl.send()">
            <img src="images/send.png" width="45" height="45"/>
          </a>
        </div>
      </div>
    </div>
</div>

<div class="card white" id="msgBody" ng-mouseover="$ctrl.onMessageViewOver()"
     style="margin-left: 0px; padding-bottom: 20px; width: calc(100% - 300px); margin: 0px; float: right; padding: 2px; height: calc(100vh - 170px); overflow-y: auto;">  
    <!--div class="card-content white">
      
       <div ng-repeat="msg in $ctrl.model" style="padding: 2px;"
             ng-class="msg.owner == $ctrl.nikname ? 'card-panel blue lighten-5  myMsg' : 'card-panel grey lighten-5  userMsg'">
          <div class="row">
            <div class="col s8">
              <h5>
                {{msg.owner}}
              </h5>
            </div>
            <div class="col s4">
              {{msg.date}}
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <span class="black-text" ng-show="!msg.fileLink">
                {{msg.messages}}
              </span>
              <a ng-href="{{msg.fileLink}}" ng-show="msg.fileLink">{{msg.messages}}</a>
            </div>
          </div>
        </div>
    </div-->

     <table class="bordered">
        <tbody>
          <tr ng-repeat="msg in $ctrl.model" ng-class="msg.owner == $ctrl.nikname ? '' : 'grey lighten-3'">
            <td ng-show="msg.owner == $ctrl.nikname">Вы:</td>
            <td ng-show="msg.owner != $ctrl.nikname">{{msg.owner}}</td>
            <td ng-show="msg.fileLink">
              <a ng-href="{{msg.fileLink}}" ng-show="msg.fileLink">{{msg.messages}}</a>
            </td>
            <td ng-show="!msg.fileLink">
              {{msg.messages}}
            </td>
            <td style="text-align: right;">{{msg.date}}</td>
          </tr>
        </tbody>
      </table>
</div>
