
<div ng-controller="messengerCtrl" ng-show="isVisible"  ng-init="init()">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">Поштарь</a>
        </div>
        <ul class="nav navbar-nav">
          <!--li class="active"><a href="#">Home</a></li-->
        </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a> {{nikname}}</a></li>
        <li><a href="#!/"> Вийти</a></li>
      </ul>
      </div>
    </nav>

    <div class="panel panel-default" 
         style="margin-left: 0px; margin-top: 50px; width: 100%; height: calc(100% - 70px);">

    <div id="msgBody" class="panel-body" style="overflow-y: auto;  height: calc(100% - 100px);">

      <div ng-repeat="msg in messages" 
          ng-class="msg.owner == account.name ? 'media alert alert-info myMsg' : 'media alert alert-success userMsg'">
        <div class="media-body">
          <h4 class="media-heading">{{msg.owner}}</h4>
          <p>{{msg.messages}}</p>
        </div>
      </div>

    </div>

    <div class="panel-footer form-horizontal" style="max-height: 100px;">

        <button type="button" class="btn btn-default btn-lg" style="float:left; padding: 5px;  width: 55px;">
          <img src="/images/papeclip.png" width="50" height="50" />
        </button>

        <input type="text" class="form-control" id="messagetext" 
              placeholder="Enter message" ng-model="sendMessage" 
              style="margin-left: 5px; margin-right: 5px; height: 60px; width: calc(100% - 120px); float: left; resize: none;">
        </input>

        <button type="button" class="btn btn-default btn-lg" 
                style="float:right; padding: 5px; width: 55px;" ng-click="send()">
          <img src="/images/send.png" width="50" height="50" />
        </button>
  
    </div>
  </div>
</div>  




